@font-face {
  font-family: 'VT323';
  src: url('/VT323-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
  font-family: 'VT323', monospace;
}

#rain {
  display: block;
}
